// General colors
$accent-color: #2196f3;
$secondary-color: #ffffff;
$hover-color: #188ce8;
$footer-color: #2f303a;
$background-color: #f5f4fa;
$icon-color: #afb1b8;
// Text colors
$primary-text-color: #212121;
$secondary-text-color: #757575;
